<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <div class="info">
            <p>
                Musterfirma<br>
                Musterstrasse<br>            
                01234 Musterstadt<br>
                0123/4567890<br>
                wird Beantragt<br>
                muster@muster.muster<br>
            </p>
            <h2>Rechnung 36</h2>
            <p>
                Tisch: An der Theke<br>
            </p>
          </div>
        </div>
    </table>
    <hr>
    <table>
        
        <div class="receiptItems">
            <tr>
                <td>4x 0.25l Rotw.Schorle</td>
                <td>2.35</td>
                <td>9.40</td>
            </tr>
        </div>
        
        <div class="receiptItems">
            <tr>
                <td>1x 0.5l WB/GB Schorle</td>
                <td>5.30</td>
                <td>5.30</td>
            </tr>
        </div>
        
        <div class="receiptItems">
            <tr>
                <td>1x 0.5l Rotw.Schorle</td>
                <td>4.30</td>
                <td>4.30</td>
            </tr>
        </div>
        
        <div class="receiptItems">
            <tr>
                <td>1x Tagesgericht 8.50</td>
                <td>8.50</td>
                <td>8.50</td>
            </tr>
        </div>
        
        <div class="receiptItems">
            <tr>
                <td>1x Tagesgericht 4.80</td>
                <td>4.80</td>
                <td>4.80</td>
            </tr>
        </div>
        
        <div class="receiptItems">
            <tr>
                <td>2x Tagesgericht 9.20</td>
                <td>9.20</td>
                <td>18.40</td>
            </tr>
        </div>
        
    </table>
    <hr>
    <table>    
        <div>
            ZWISCHENSUMME: 50.7
        </div>
    </table>
    <hr>
    <hr>
    <table class="tax">
        <tr>
          <th>Mwst.</th>
          <th>Brutto</th>
          <th>Netto</th>
          <th>Steuer</th>
        </tr>
        
          
        
          
            <tr>
              <td>7%</td>
              <td>31.7</td>
              <td>29.62617</td>
              <td>2.073832</td>
            </tr>
          
        
          
            <tr>
              <td>19%</td>
              <td>19</td>
              <td>15.96639</td>
              <td>3.033613</td>
            </tr>
          
        
    </table>
    <hr>
    <table>
        <div>
            GESAMT: 50.7
        </div>
    </table>
    <hr>
    <hr>
    <table>
        <div>
            <p>
                Zahlart: Cash<br>
                Gezahlt: 60<br>
                Ruckgabe: 9.3<br>
                Datum: 20.06.2023 17:53<br>
                Kasse: 1<br><br>                
                Es bedint Sie: Administrator
            </p>
        </div>
    </table>
    <h3> Vielen Dank! </h3>
    <table>
        <div>
            <p>
                TSE Signatur: TSE ConnectionFailed<br>
                TSE Start: 0<br>
                TSE Stop: 0<br> 
                TSE Serialnummer: <br>
                TSE Transaktion: None<br>
                TSE Signaturaccount: <br>
                TSE Zeitformat: 0<br>
                TSE HashAlgorithm: <br>
                TSE PyblicKay: <br>
            </p>
        </div>
    </table>
</body>
</html>