<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Receipt</title>
</head>
<body>
    <div class="receipt">
        <conteiner  class="companyInfo">
            <tr>
                <td>
                    <div>
                        <p>
                            Blizkasse<br>
                            Musterstrasse<br>            
                            01234 Musterstadt<br>
                            0123/4567890<br>
                            wird Beantragt<br>
                            muster@muster.muster<br>
                        </p>
                        <h2>Rechnung 36</h2>
                        <p>
                            Tisch: An der Theke<br>
                        </p>
                    </div>
                </td>
            </tr>
        </conteiner>
        <hr>
        <conteiner class="receiptItems">
            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>            
                
                <tr>
                    <td>2x </td>
                    <td>0.25l Rotw.Schorle</td>
                    <td>2.50</td>
                    <td>5.00</td>
                </tr>
                
                <tr>
                    <td>1x </td>
                    <td>0.5l WB/GB Schorle</td>
                    <td>5.30</td>
                    <td>5.30</td>
                </tr>
                
                <tr>
                    <td>2x </td>
                    <td>0.25l Rotw.Schorle</td>
                    <td>2.20</td>
                    <td>4.40</td>
                </tr>
                
                <tr>
                    <td>1x </td>
                    <td>0.5l Rotw.Schorle</td>
                    <td>4.30</td>
                    <td>4.30</td>
                </tr>
                
                <tr>
                    <td>1x </td>
                    <td>Tagesgericht 8.50</td>
                    <td>8.50</td>
                    <td>8.50</td>
                </tr>
                
                <tr>
                    <td>1x </td>
                    <td>Tagesgericht 4.80</td>
                    <td>4.80</td>
                    <td>4.80</td>
                </tr>
                
                <tr>
                    <td>2x </td>
                    <td>Tagesgericht 9.20</td>
                    <td>9.20</td>
                    <td>18.40</td>
                </tr>
                
            </table>
            
        </conteiner>
        <hr>
        <conteiner class="summ">    
            <tr>
                <td>
                    <div>
                        ZWISCHENSUMME: 50.70
                    </div>
                </td>
            </tr>
        </conteiner>
        <hr class="line_top">
        <hr class="line_bottom">
        <conteiner  class="tax">
            <table>
                <tr>
                    <th>Mwst.</th>
                    <th>Brutto</th>
                    <th>Netto</th>
                    <th>Steuer</th>
                </tr>
                
                
                
                
                <tr>
                    <td>7%</td>
                    <td>31.70</td>
                    <td>29.63</td>
                    <td>2.07</td>
                </tr>
                
                
                
                <tr>
                    <td>19%</td>
                    <td>19.00</td>
                    <td>15.97</td>
                    <td>3.03</td>
                </tr>
                
                
            </table>
        </conteiner>
        <hr>
        <conteiner class="totalSumm">
            <tr>
                <td>
                    <div>
                        GESAMT : 50.70
                    </div>
                </td>
            </tr>
        </conteiner>
        <hr class="line_top">
        <hr class="line_bottom">
        <conteiner class="payment">
            <tr>
                <td>
                    <div>
                        <p> 
                             Zahlart: BAR <br>
                            Gezahlt: 60<br>
                            Ruckgabe: 9.3<br>
                            Datum: 22.06.2023 17:24:07<br>
                            Kasse: 1<br><br>                
                            Es bedint Sie: Administrator
                        </p>
                    </div>
                </td>
            </tr>
        </conteiner>
        <conteiner class="Thanks">
            <h3> Vielen Dank! </h3>
        </conteiner>
        <conteiner class="tse">
            <tr>
                <td>
                    <div>
                        <p>
                            TSE Signatur: TSE ConnectionFailed<br>
                            TSE Start: 2023-06-22 17:24:07.559973<br>
                            TSE Stop: 2023-06-22 17:24:09<br>
                            TSE Serialnummer: <br>
                            TSE Transaktion: None<br>
                            TSE Signaturaccount: <br>
                            TSE Zeitformat: 0<br>
                            TSE HashAlgorithm: <br>
                            TSE PyblicKay: <br>
                        </p>
                    </div>
                </td>
            </tr>
        </conteiner>
    </div>
</body>
</html>